.nav1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* transition: none; */
  /* transform: translateY(-20px); */
  /* opacity: 0; */
  z-index: 1;
}
.loaded .nav1 {
  /* transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); */
  /* transform: translateY(0px); */
  /* opacity: 1; */
}
.nav1 .box,
.nav2 .box {
  padding-top: 41px;
  padding-bottom: 41px;
}
.nav1 .logobox {}
.nav1 .logo {
  transition: transform 0.2s ease;
  margin-top: 0;
  padding: 0 9px;
}
.nav1 .logo img {
  width: 247px;
  vertical-align: top;
}
.nav1 .logo:hover {
  transform: translateY(2px);
}
.nav1 .description {
  display: block;
  letter-spacing: 0.5px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
}
.nav1 .description span {
  display: block;
}
.x {
  position: absolute;
  top: 16px;
  right: -19px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  overflow: hidden;
}
.x:after {
  position: absolute;
  display: block;
  top: 50%;
  height: 31px;
  width: 100%;
  content: "\274c";
  content: "\00D7";
  /* use the hex value here... */
  font-size: 33px;
  margin-top: -12px;
  color: #252746;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.x:hover:after {
  transform: scale(0.8);
}

/* --- Nav1/2 ------------------------ */

.nav1 ul:before,
.nav2 ul:before {
  content: '';
  display: block;
  background-color: #e5e6e8;
  position: absolute;
  height: 1px;
  margin-top: -1px;
  top: 50%;
  left: 0px;
  right: 0px;
}
.nav1 ul,
.nav2 ul {
  position: relative;
}
.nav1 li:first-child,
.nav1 li:last-child,
.nav2 li:first-child,
.nav2 li:last-child {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
}
.nav1 li:nth-child(2),
.nav2 li:nth-child(2) {
  display: inline-block;
  position: relative;
  background-color:  #fff;
}
.nav1 li:last-child,
.nav2 li:last-child {
  left: auto;
  right: 0;
}
.nav1 li:first-child a,
.nav2 li:first-child a {
  margin-left: 0px;
}
.nav1 li:last-child a,
.nav2 li:last-child a {
  margin-right: 0px;
}
.nav1 li a,
.nav2 li a {
  font-size: 18px;
  line-height: 24px;
  /* font-weight: 100; */
  font-family: Noto sans;
  margin: 0 25px;
  display: block;
  position: relative;
  text-transform:  uppercase;
  color: #888998;
  letter-spacing: 1px;
}

/* --- Nav2 -------------------------- */

.nav2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* transition: none; */
  /* transform: translateY(-20px); */
  /* opacity: 0; */
  z-index: 1;
}

/* --- Responsive -------------------- */

@media only screen and (max-width: 510px) {
  .nav1 {
    padding: 51px 20px 57px;
  }
  .loaded .nav1 {}
  .nav1:before {}
  .nav1 .logo {}
  .nav1 .logo img {}
  .nav1 .description {}
  .nav1 .description span {
    display: inline;
  }
  .nav1 ul {}
  .x {
    top: 16px;
    right: -20px;
    height: 90px;
    width: 90px;
    cursor: pointer;
    overflow: hidden;
  }
  .x:after {
    height: 29px;
    font-size: 31px;
    margin-top: -13px;
  }
  .x:hover:after {}
}
