/* --- Clients ----------------------- */

.clients {}
.clients .view {
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
}
.clients .view main {
  min-height: 100%;
}
.clients .box {
  position: relative;
  display: table;
  min-height: 100%;
}
.clients .content,
.clients .content h2 {
  color: #fff;
  text-shadow: 0px 0px 6px #23232329;
}
.clients .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.clients .box2 {
  padding-left: 30px;
  padding-right: 30px;
}
.clients .content h1 {
  margin-bottom: 35px;
}
.clients .content h2 {
  padding-top: 40px;
  margin-bottom: 36px;
}
.clients .content p {
  max-width: 780px;
}
.clients .content p svg {
  width: 26px;
}
.clients .columns {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.clients .column {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 35px;
}
.clients .column:last-child {}
.clients .column h3 {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-family: Noto Sans;
  font-weight: bold;
}

/* bg */

.clients .content .bg,
.clients .grad1,
.clients .grad2 {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.clients .content:after {
  content: "";
  position: absolute;
  display: block;
  height: 78px;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.clients .grad1 {
  z-index: 2;
  background-color: #000000;
  opacity: 0.2;
}
.clients .grad2 {
  z-index: 2;
  background-image: linear-gradient(213deg, #7bada9, #ff8f6b 35%, #5f6fa0 63%, #5f6fa0 77%, #5f6fa0);
  opacity: 0.7;
}
.clients .video {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.clients video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  height: 100%;
  max-width: 300%;
  width: auto;
}
@media only screen and (max-width: 950px) {
  .clients .column {
    text-align: left;
    font-size: 14px;
  }
  .clients .column:last-child {}
}
@media only screen and (max-width: 880px) {
  .clients main .box {
    display: block;
  }
  .clients .content {
    display: block;
  }
  .clients .box2 {
    padding-left: 0;
    padding-right: 0;
  }
  .clients .box3 {
    position: relative;
    padding: 70px 30px 21px;
    /* min-height: 250px; */
    color: #fff;
  }
  .clients .content h2,
  .clients .content .columns {
    color: #000;
    text-shadow: none;
  }
  .clients .columns {
    padding-bottom: 0;
  }
  .clients .columns:after {
    content: "";
    display: block;
    clear: both;
  }
  .clients .column {
    width: 33%;
    text-align: center;
    float: left;
    display: block;
    /* padding-left: 13px; */
    margin-bottom: 57px;
    box-sizing: border-box;
    line-height: 2.2em;
  }
  .clients .column:nth-child(4n) {
    clear: both;
  }
  /* bg */
  .clients video {
    width: 100%;
    height: 100%;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: none;
    object-fit: cover;
  }
}
@media only screen and (max-width: 540px) {
  .clients .column {
    width: 47%;
    margin-right: 6%;
    line-height: 1.9em;
    margin-bottom: 32px;
  }
  .clients .column:nth-child(4n) {
    clear: none;
  }
  .clients .column:nth-child(2n+1) {
    clear: both;
  }
  .clients .column:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .clients .column {
    text-align: left;
  }
  .clients main .box {
    padding-left: 0px;
    padding-right: 0px;
  }
  .clients main .columns {
    padding-left: 25px;
    padding-right: 25px;
  }
}
