/* --- Clients ----------------------- */

.clients {}
.clients .view {
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
}
.clients .view main {
  min-height: 100%;
}
.clients .box {
  position: relative;
  display: table;
  min-height: 100%;
}
.clients .content,
.clients .content h2 {
  color: #fff;
  text-shadow: 0px 0px 6px #23232329;
}
.clients .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.clients .content h1 {
  margin-bottom: 35px;
}
.clients .content h2 {
  padding-top: 50px;
  margin-bottom: 35px;
}
.clients .content p {}
.clients .columns {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.clients .column {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 35px;
}
.clients .column:last-child {}
.clients .column h3 {
  font-size: 19px;
  margin-bottom: 7px;
  letter-spacing: 0;
}

/* bg */

.clients .bg,
.clients .grad1,
.clients .grad2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}
.clients .grad1 {
  z-index: 2;
  background-color: #000000;
  opacity: 0.2;
}
.clients .grad2 {
  z-index: 2;
  background-image: linear-gradient(213deg, #7bada9, #ff8f6b 35%, #5f6fa0 63%, #5f6fa0 77%, #5f6fa0);
  opacity: 0.7;
}
.clients .video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.clients video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  height: 100%;
  max-width: 300%;
  width: auto;
}
